@charset "UTF-8";
:root {
  /* fonts */
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  /* text colours */
  --accent-cl: #2196f3;
  --main-txt-cl: #757575;
  --secondary-txt-cl: #212121;
  --white: #ffffff;
  /* background colors */
  --main-bg: #ffffff;
  --secondary-bg: #f5f4fa;
  --hero-bg: #2f303a;
  /* animation */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-animation: 1000ms ease-in-out;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.container {
  /* outline: 1px solid red; */
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  text-align: center;
  margin-bottom: 50px;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.socials__icon {
  fill: currentColor;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
  text-decoration: none;
  display: inline-block;
}

.logo-text {
  color: #212121;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity var(--animation), visibility var(--modal-animation);
  transition: opacity var(--animation), visibility var(--modal-animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-wrapper {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 41px;
  padding-right: 39px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 250ms ease-in-out 200ms, -webkit-transform var(--modal-animation);
  transition: opacity 250ms ease-in-out 200ms, -webkit-transform var(--modal-animation);
  transition: transform var(--modal-animation), opacity 250ms ease-in-out 200ms;
  transition: transform var(--modal-animation), opacity 250ms ease-in-out 200ms, -webkit-transform var(--modal-animation);
}

/* початковий стан елемента перед анімацією */
.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: rotate(0) translate(-50%, -50%);
          transform: rotate(0) translate(-50%, -50%);
  opacity: 0;
}

/* кінцевий стан елемента після анімації */
.backdrop .modal-wrapper {
  -webkit-transform: rotate(360deg) translate(-50%, -50%);
          transform: rotate(360deg) translate(-50%, -50%);
  opacity: 1;
}

.close-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  outline: transparent;
  cursor: pointer;
}

.modal-wrapper__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.close-btn__icon {
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.close-btn:hover .close-btn__icon {
  fill: var(--accent-cl);
}

.close-btn:focus .close-btn__icon {
  fill: var(--accent-cl);
}

.modal-title {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__policy-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
  position: relative;
}

.modal-form__label {
  font-family: var(--main-font);
  /* font-style: normal; */
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.modal-form__input:hover, .modal-form__input:focus {
  border-color: #2196f3;
}

.modal-form__message {
  width: 448px;
  height: 120px;
  resize: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.modal-form__message:hover, .modal-form__message:focus {
  border-color: #2196f3;
}

.modal-form__custom-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  margin-right: 7px;
}

.modal-form__policy-desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form__button {
  margin-top: 30px;
}

.modal-form__policy-link {
  color: #2196F3;
}

.modal-form__icon {
  position: absolute;
  top: 55%;
  left: 14px;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__input:hover + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__policy-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form__custom-checkbox {
  width: 16px;
  height: 15px;
  outline: 2px solid #212121;
  outline-offset: -2px;
  border-radius: 2px;
  margin-right: 7px;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox {
  background-color: #2196f3;
  outline-color: transparent;
}

.modal-form__checkbox:hover + .modal-form__custom-checkbox {
  outline-color: #2196f3;
}

.modal-form__custom-checkbox:focus {
  outline-color: #2196f3;
}

.modal-form__custom-checkbox-icon {
  opacity: 0;
  -webkit-transition: opasity 250ms ease;
  transition: opasity 250ms ease;
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox .modal-form__custom-checkbox-icon {
  opacity: 1;
  fill: #FFFFFF;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__link--current {
  color: var(--accent-cl);
  position: relative;
}

.navigation__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.navigation__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 28px;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-cl);
}

.navigation__item {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.mail-group,
.phone-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

.phone__link,
.mail__link {
  color: var(--main-txt-cl);
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.mail__link {
  margin-right: 30px;
}

.mail__link:hover, .mail__link:focus {
  color: var(--accent-cl);
  outline: none;
}

.phone__link:hover,
.phone__link:focus {
  color: var(--accent-cl);
  outline: none;
}

.mail__icon {
  margin-right: 10px;
  fill: var(--main-txt-cl);
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.mail__link:hover + .mail__icon,
.mail__link:focus + .mail__icon {
  fill: var(--accent-cl);
}

.phone__icon {
  margin-right: 10px;
  fill: var(--main-txt-cl);
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.phone__link:hover + .phone__icon,
.phone__link:focus + .phone__icon {
  fill: var(--accent-cl);
}

.hero {
  background-color: var(--hero-bg);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-img.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.png);
  background-size: cover;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
}

.hero__button {
  -webkit-animation: vibrate-1 2s linear infinite both;
          animation: vibrate-1 2s linear infinite both;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__thumb {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__item {
  margin-right: 30px;
}

.benefits__item:last-child {
  margin: 0;
}

.benefits__title {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  width: 270px;
  margin-right: 30px;
}

.benefits__text:last-child {
  margin-right: 0;
}

.business {
  padding-top: 0;
}

.business__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.business__item {
  margin-right: 30px;
  position: relative;
  z-index: -1;
}

.business__item:last-child {
  margin-right: 0;
}

.business__text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 25px;
  padding-bottom: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.team {
  background-color: var(--secondary-bg);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.team__link {
  background: #ffffff;
  width: 270px;
  height: 428px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__link:not(li:last-of-type) {
  margin-right: 30px;
}

.team__member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  margin-bottom: 10px;
}

.team__team-position {
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
}

.team__description {
  padding-top: 30px;
  padding-bottom: 16px;
}

.clients {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__item {
  margin-right: 30px;
}

.clients__item:last-child {
  margin-right: 0px;
}

.clients__link {
  background-color: var(--white);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  /* margin-right: 30px; */
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-cl);
  border-color: var(--accent-cl);
}

.clients__logo {
  fill: #afb1b8;
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.info {
  margin-right: 70px;
}

.footer__logo {
  margin-bottom: 20px;
}

.logo-text--inverse {
  color: var(--white);
}

.info__address {
  font-family: inherit;
  font-style: normal;
}

.info__text {
  color: var(--white);
  display: inline-block;
  margin-bottom: 9px;
  line-height: 1.71;
}

.info__mail {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-bottom: 9px;
  line-height: 1.71;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.info__mail:hover, .info__mail:focus {
  color: var(--accent-cl);
}

.info__phone {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  line-height: 1.71;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.info__phone:hover, .info__phone:focus {
  color: var(--accent-cl);
}

.join {
  margin-right: 93px;
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.socials__link--inverse {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #ffffff;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sign-up__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 12px;
}

.sign-up__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.sign-up__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.sign-up__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-up__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-up__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-up__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-up__icon {
  margin-left: 10px;
  fill: #FFFFFF;
}

.projects__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.projects__button:hover, .projects__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__link {
  margin-right: 8px;
  margin-bottom: 50px;
}

.filter__link:last-child {
  margin-right: 0px;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-set__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-transition: var(--animation);
  transition: var(--animation);
  /* overflow: hidden; */
}

.card-set__item:nth-child(3n) {
  margin-right: 0;
}

.card-set__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project__meta {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.project__link:hover .project__meta,
.project__link:focus .project__meta {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-txt-cl);
  padding-bottom: 4px;
}

.project__subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.project__overlay {
  position: relative;
  width: 370px;
  height: 294px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.project__description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: white;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.project__link:hover .project__description {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__link:focus .project__description {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */