body {
    font-family: var(--main-font), sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);

}

.section-title {
    color: var(--secondary-txt-cl);
    text-align: center;

    margin-bottom: 50px;

    @include mq(mobile) {
            @include fonts (700, 28px, 33, 0.03em);
            margin-bottom: 30px;
        }

    @include mq(desktop) {
        @include fonts (700, 36px, 42, 0.03em);
        margin-bottom: 50px;
    }
}