body {
    font-family: var(--main-font), sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);

}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;

    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);

    text-align: center;
    margin-bottom: 50px;
}