.clients {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;

  margin-left: auto;
  margin-right: auto;
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
}


.clients__item {margin-right: 30px;
  &:last-child {
    margin-right: 0px;
  }
}

.clients__link {
  background-color: var(--white);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  /* margin-right: 30px; */
  width: 170px;
  height: 92px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-cl);
    border-color: var(--accent-cl);
  }
}

.clients__logo {
  fill: #afb1b8;
  
  .clients__link:hover &,
  .clients__link:focus & {
      fill: currentColor;
    }
}




