.hero {
    background-color: var(--hero-bg);
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bg-img.png);
    background-size: cover;

    @include mq(mobile) {
        max-width: 480px;
        // height: 400px;
        padding-top: 118px;
        padding-bottom: 128px;
        }

    @include mq(tablet) {
        max-width: 768px;
        // height: 400px;
        }

    @include mq(desktop) {
        max-width: 1600px;
        // height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        }

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.hero__title {
    text-align: center;
    color: var(--white);
    display: block;
    margin-bottom: 30px;

    @include mq(mobile) {
            @include fonts (900, 26px, 42, 0.06em, uppercase);
        }
   
    @include mq(desktop) {
             @include fonts (900, 44px, 60, 0.06em, uppercase);
         }
}

.hero__button {
    animation: vibrate-1 2s linear infinite both;
}
